.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Menu-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Zhihu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Zhihu-item-pic {
  height:80%;
  overflow: hidden;
}

.Zhihu-item-text {
  height:20%;
  display: block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
